@import url("https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,200;1,100;1,200&family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,200;0,300;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior:smooth;
}

.navbar-logo {
  display: flex;
  padding-left: 100px;
}

.header1 {
  background-color: transparent;
  font-family: "Labrada", serif;
  font-family: "Raleway", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  flex-grow: 1; /*read about it!!!!*/
  text-align: right;
  padding-right: 100px;
}

.navbar li {
  display: inline-block;
  margin-left: 10px;
  /* padding-right: 10px; */
}

.navbar li a {
  float: right;
  position: relative;
  color: #ee534f;
  padding: 13px 20px 13px;
  text-decoration: none;
  font-family: 'Trebuchet MS', sans-serif;
  transition: color 0.6s;
}

.navbar li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.6s, width 0.6s;
}

.navbar li a:hover {
  color: black;
}

.navbar li a:hover::after {
  background-color: yellowgreen;
  width: 100%;
}

.navbar li a:hover::before {
  width: 100%;
}

.navbar li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: yellowgreen;
  transition: width 0.6s;
}







ul {
  text-align: right;
}

body {
  font-family: "Labrada", serif;
  font-family: "Raleway", sans-serif;
  
}

.main {
  background-image: url("portfoliobg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

.header2 {
  align-items: center;
}

.name {
  color: white;
  font-size: 60px;
  letter-spacing: 0.5rem;
  font-family: "Public Sans", sans-serif;
}

.quote {
  color: white;
  font-size: 20px;
  letter-spacing: 0.2rem;
  padding-bottom: 60px;
}

.master1 {
  display: flex;
  justify-content: center;
  padding-bottom: 50vb;
}

.master2 {
  text-align: center;
  padding-top: 150px;
}

.vidsection {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 10px;
  /* justify-content: space-around; */
  background-color: black;
  overflow: hidden;
}

.leftsection {
  flex-basis: 800px;
  padding-left: 10vw;
  /* margin-right: 40vw; */
  overflow: hidden;
}

.rightsection {
  background: black;
  color: white;
  display: inline;
  /* justify-content: flex-start;
    align-items: center; */
  padding-top: 9%;
  font-size: 1.6rem;
  font-weight: 900;
}

.color {
  color: #ee534f;
}

.about {
  background-image: url("demo11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  background-color: black;
  padding-top: 12vw;
  padding-bottom: 10vw;
  color: white;
  align-items: center;
}

.about h2 {
  color: #ee534f;
  font-weight: 900;
  font-size: 1.6rem;
}

.container {
  margin: 0 100px;
  align-items: center;
}

.div1 {
  display: flex;
  justify-content: center;
}

.div2 {
  text-align: center;
}

.study {
  background-image: url("demo222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  background-color: white;
  padding: 5vw 10vw;
  color: black;  
  align-items: center;
}

.left {
  width: 50%;
  padding: 10px 100px 10px 0;
}

.left h1 {
  font-size: 1.9rem;
  font-weight: 900;
  padding: 5px 0 15px;
}

.left h2 {
  font-size: 1.1rem;
}

.compName {
  font-size: 0.9rem;
  font-weight: 600;
}

.v1 {
  border-left: 6px solid #ee534f;
  height: auto;
  border-radius: 5px;
  padding: 15px 0 15px 18px;
  line-height: 0.8;
}

.detail1 {
  line-height: 1.3;
  text-align: justify;
}

.right {
  padding-top: 40px;
  width: 50%;
}

.right img {
  width: 100%;
  height: auto;
}

.study1 {
  /* background-image: url("demo222.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  background-color: white;
  padding: 0vw 10vw 5vw 10vw;
  color: black;  
  align-items: center;
}

.right1 {
  padding-top: 40px;
  padding-left: 183px;
  width: 50%;
}

.right1 img {
  /* width: 50%; */
  height: auto;
  
}

.wave1 {
  animation-name: wave-animation1;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: center;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation1 {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.contacts {
  display: flex;
  padding: 5vw 10vw;
  background-color: #fff;
  cursor: pointer;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.con-left {
  width: 50%;
}

.con-left h1 {
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-size: 1.9rem;
  font-weight: 900;
  padding: 5px 0 15px;
}

/* .con-right {
  width: 50%;
}

.con-right img {
  width: 80%;
  height: auto;
  padding: 50px;
} */

.boxes {
  background-color: #f74943c0;
  width: 250px;
  height: auto;
  border-radius: 5%;
  border: 1px solid #f8b802;
  padding: 10px 10px 0 10px;
  margin: 10px 0 20px 110px;
  text-align: center;
}

.boxes img{
  width: 100px;
}
.box-heading {
  font-weight: 700;
  padding: 20px;
}

.midline {
  color: #f8b802;
  /* padding: 40px; */
  width: 40px;
  border: none;
  border-top: 1.5px solid #f8b802;
  margin: 1rem auto;
}

.bottomline {
  color: #f8b802;
  width: auto;
  border: 2px solid #f8b802;
}

.con-left p {
  padding-bottom: 1.5rem;
  font-weight: 300;
}

.con-left img {
  padding: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.con-right {
  width: 50%;
}

.con-right img {
  width: 80%;
  height: auto;
  padding: 40px;
}


/* Social Icons */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 85px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.icon i {
  color: #fff;
  font-size: 20px;
}

span {
  margin-top: 10px;
  text-align: center;
}

.icon:nth-child(1) {
  background-color: #ff5252; /* Red */
}

.icon:nth-child(2) {
  background-color: #4caf50; /* Green */
}

.icon:nth-child(3) {
  background-color: #2196f3; /* Blue */
}

.icon:hover {
  opacity: 0.8;
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.icon:hover:nth-child(1) {
  background-color: #ff9800; /* Orange */
}

.icon:hover:nth-child(2) {
  background-color: #9c27b0; /* Purple */
}

.icon:hover:nth-child(3) {
  background-color: #00bcd4; /* Cyan */
}

.icon:hover i {
  color: #fff;
}

span:hover {
  color: #555;
}

.footer {
  /* background-color: #82AFC6; */
  background: linear-gradient(85deg, #82AFC6, #eec85e, #ffc13a, #f74943c0);
  font-family: serif;
  text-align: center;
  padding: 20px;
}

