@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,200;1,100;1,200&family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar-logo {
    display: flex;
    padding-left: 10px;
    padding-left: 18px;
}

header {
    background-color: burlywood;
    font-family: 'Labrada', serif;
    font-family: 'Raleway', sans-serif;
}

nav {
    display: flex;
    align-items: center;
}

.navbar {
    flex-grow: 1;
    text-align: right;
}

.navbar .topnav-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar .topnav-right li {
    display: inline-block;
    margin-left: 10px;
}

.navbar .topnav-right li a {
    color: white;
    text-decoration: none;
    padding: 13px;
}

.navbar .topnav-right li a:hover {
    background-color: #111111;
}

body {
    font-family: 'Labrada', serif;
    font-family: 'Raleway', sans-serif;
}
